<div class="header-cart__list">
    {{#each goods}}
        {{#each goods_sku}}
            <div class="header-cart__item" id="j-sku-id-{{id}}" data-goods-id="{{goods_id}}" data-sku-id="{{id}}">
                <a class="header-cart__img-box" href="/goods?sid={{sku_sn}}" >
                    <img src="{{cover}}" alt="{{../title}}"/>
                </a>
                <div class="header-cart__item-content">
                    <a class="header-cart__item-title" href="/goods?sid={{sku_sn}}" >{{../title}}</a>
                    <div class="header-cart__item-price">
                        ¥ {{price}} X {{quantity}}
                        <a class="header-cart__item-del" href="javascript:;" data-sku-id="{{id}}">删除</a>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/each}}
</div>
<div class="header-cart__ft">
    <div class="">共<span class="u-color_red">{{total_sku_quantity}}</span>件商品</div>
    <div class="">总计(不含送装）：<span class="u-color_gold">¥ {{total_price}}</span></div>
    <a href="/cart" class="btn btn-big">查看购物车</a>
</div>