<div class="goods-tpl-v2 goods-tpl-v2-01">
    <div class="goods-tpl-v2__box _with-border-bottom">
        <div class="goods-tpl-v2__title">
            <img src="http://www.sipin.com/static/images/goodsTemplateV2/title_01.png" alt="Product Overview"/>
        </div>
        <div class="goods-tpl-v2__content">
            <div class="goods-tpl-v2__main">
                <div class="goods-tpl-v2__main-pic">
                    {{#each main_picture.value}}
                        <img src="{{url}}" data-media-id="{{id}}" alt=""/>
                    {{/each}}
                </div>
                <div class="goods-tpl-v2__main-info">
                    <h2 class="goods-tpl-v2__main-title u-color_black">{{title.value}}</h2>
                    <div class="goods-tpl-v2__main-desc u-color_gray">
                        {{description.value}}
                    </div>
                    <div class="goods-tpl-v2__sub-info">
                        <div class="goods-tpl-v2__sub-info-hd u-color_gold">商品信息 |  Information</div>
                        {{#each info.value}}
                            <div class="goods-tpl-v2__sub-info-item u-color_gray">
                                <span class="goods-tpl-v2__sub-info-title">{{title}}：</span>
                                <span class="goods-tpl-v2__sub-info-desc">{{content}}</span>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="goods-tpl-v2-01__extend-info u-clearfix">
                {{#each extend.value}}
                    <div class="goods-tpl-v2-01__extend-info-item">
                        <h3 class="goods-tpl-v2-01__extend-info-title">{{title}}</h3>
                        <div class="goods-tpl-v2-01__extend-info-content">{{content}}</div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="goods-tpl-v2__box">
        <div class="goods-tpl-v2__title">
            <img src="http://www.sipin.com/static/images/goodsTemplateV2/title_02.png" alt="Product Details"/>
        </div>
        <div class="goods-tpl-v2__content">
            {{#each detail_picture.value}}
            <div class="goods-tpl-v2__img">
                <img src="{{url}}" data-media-id="{{id}}" alt=""/>
            </div>
            {{/each}}
        </div>
    </div>
</div>
